<form class="form-signin" ng-submit="login()">

	<h2 class="form-signin-heading">Login ContatoJS</h2>

	<label for="txtLogin" class="sr-only">Login</label>
	<input type="text" id="txtLogin" class="form-control" 
		placeholder="Login" required="" autofocus=""
		ng-model="username" />
		
	<label for="txtPasword" class="sr-only">Senha</label>
	<input type="password" id="txtPassword" class="form-control" 
		placeholder="Password" required=""
		ng-model="password" />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
